html {
    background-image: -webkit-linear-gradient(to bottom, white 0%, #ffebcd 100%);
    background-image: -moz-linear-gradient(to bottom, white 0%, #ffebcd 100%);
    background-image: -o-linear-gradient(to bottom, white 0%, #ffebcd 100%);
    background-image: linear-gradient(to bottom, white 0%, #ffebcd 100%);
}
body {
    font-family: Arial, Times, sans-serif;
    font-size: 100%;
    width: 550px;
    margin: 0 auto;
    padding: 1em;
    border: 3px solid navy;
    border-radius: 50px;
}
h1 {
    margin: 0;
    padding: .25em;
    font-size: 180%;
    color: darkgreen;
}
h2 {
    color: darkgreen;
}
h2+p+blockquote {
    margin-bottom: 3em;
}
img  {
    float: top;
}
p {
    margin: 0;
    padding-bottom: .5em;
}
#footer {
    clear: both;
    color: rgb(0, 0, 205);
    text-align: right;
}
form {
    display: block;
}
strong {
    font-weight: bold;
}
a:link {
    color: darkblue;
}
a:hover, a:focus {
    color: dodgerblue;
}