aside {
    font-style: italic;
    font-size: 12px;
    margin: 5px 20px 10px;
    width: 150px;
    float: right;
    border: 2px solid crimson;
    position: relative;
}
blockquote {
    clear: both;
}
#nav_menu ul {
    list-style-type: none;
    padding: 1em 0;
    text-align: center;
    border-top: 3px solid brown;
    border-bottom: 3px solid brown;
}
#nav_menu ul li {
    display: inline;
    padding: 0 1.5em;
}
#nav_menu ul li a {
    font-weight: bold;
    color: blue;
}
